
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

  /* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font-family: 'Roboto',sans-serif;
}
.hi{
  position: sticky;
  top: 0;
}
.center-text{
  text-align: center;
}
.remove-link{
  color: white;
  text-decoration: none;
}
/* Styling contact nav bar  */




.whats-app-container{
  /* display: flex; */
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 5;
}
#whatsapp{
       width: 90px;
     
}

.menu-container{
  height: 90px;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    background-color:black;
    align-items: center;
    color: white;
    padding: 20px 20px;
    
}
.left-contact{
    display: flex;
    gap: 50px;
    margin-left: 50px;
}
.left-contact div{
    display: flex;
    align-items: center;
}
.left-contact img{
    width: 20px;
    margin-right: 10px;
    background: none;
    background-color: white;
    padding: 0;
    border-radius: 5px;
}

.right-contact{
    display: flex;
    gap: 14px;
}
.right-contact img{
    width: 30px;
}

/* Menu nav bar styling  */


.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    
  
}
#menu-container-sticky{
  background-color: #F8FBFE;
    position: sticky;
    top: 0;
    padding: 4px 0px;
}
.menu-container a{
  text-decoration: none;
  color: black;
}

.left-logo-container img{
    width: 90px;
    margin-left: 40px;
}

.right-menu-container ul{
    display: flex;
    gap: 30px;
    margin-right: 40px;
}
.right-menu-container li{
    list-style: none;
}

/* Menu container desing for mobile  */
.mobile-menu{
  display: none;
}
.menu-container-mobile{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-mobile-items{
  transform: 1s;
  display: none;
}
#menu-icon-mobile{
  margin-right: 25px;
  width: 40px;
  
}
.menu-mobile-items > ul a {
  color: black;
  text-decoration: none;
  
}
.menu-mobile-items > ul li {
  list-style: none;
  
}
.menu-child{
 background-color: white;
 padding: 12px 20px;
 text-align: center;
 /* box-shadow: 1px 1px 1px 1px black; */
 
}

/* // slider container styling from here  */
.slider-plus-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.slider-container{
  position: relative;
  /* margin-bottom: 1400px; */
  height: 650px;
  width: 80%;
  margin: auto;
  overflow: hidden;

}
.slides{
    width: 100%;
    height: 100%;
    margin: auto;
   position: absolute;
   transition: 1s;
}
.slider-button-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  
}
.slider-button-container button{
  padding: 7px 15px;
  margin-top: 6px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}
 

/* //Main container desing 

 */
 .heading-container p{
  text-align: center;
  color: #ACB1B4;
  font-weight: bold;
  font-size: 20px;
  width: 80%;
  margin: 10px auto;
 }
 .save-container{
  display: flex;
  width: 70%;
  margin: 0px auto;
  margin-top: 30px;
  justify-content: center;
  
 }
 .save-container h1{
  font-size: 60px;
  text-align: center;
 }
 #save-money{
color: blue;
 }
 #save-time{
color: orange;
 }
 #popular-products-heading{
  color: rgba(234, 6, 82, 0.488);
  margin: 0px 45px;
  margin-top: 40px;
  font-size: 35px;
  border-bottom: 1px solid pink;
 }
 #product-catagory-name{
  margin: 10px 40px;
 }
 .product-container{
  display: flex;
    flex-flow: row wrap;
    gap: 49px;
    margin: 45px 30px;
 }
 .product-item{
  border: 2px solid #E0E0E0;
  width: 300px;
  margin: auto;
  border-radius: 15px;
  color: #9798A8;
  padding: 0px 15px;
  margin-bottom: 30px;
  height: 370px;
 }
 .product-item>p{
  font-weight: bold;
 }
 .key-features{
  color: #3b9e35;
  margin: 15px 0px
 }
 .pro-features p{
  padding: 2px 0px;
 }
 .product-logo-container{
  display: flex;
  align-items: center;
  padding: 15px 25px;
  gap: 20px;
  color: black;
 }
 .product-logo-container img{
  width: 50px;
 }
 .pro-price-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
  color: rgb(106, 106, 239);
  font-weight: bold;
 }
 .pro-price-container button{
  border: none;
  padding: 11px 25px;
  color: white;
  background-color: rgba(6, 101, 131, 0.712);
  border-radius: 4px;
 }



 /* services container desing 
  */
  .services-container{
    background-image: url(./images/service-background.avif);
    overflow: auto;
    background-size: cover;
    color: white;
    border-radius: 18px;
    padding: 27px 0px;
    padding-bottom: 140px;
    
  }
  .services-container h1{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 50px;
  }
  .service-items-container{
    display: flex;
    width: 70%;
    margin: auto;
    gap: 40px;

    
    flex-flow: row wrap;
  }
  .service-item{
    width: 200px;
    padding: 15px 30px;
    margin: auto;
    border: 2px solid green;
    border-radius: 15px;
  }
  .service-heading{
    color: green;
    font-size: 20px;
    text-align: center;
    background-color: greenyellow;
    margin-bottom: 8px;
    border-radius: 30px;
    padding: 3px 4px;
  }
  .service-details{
    font-size: 19px;
    word-spacing: 4px;
  }
  /* Testimonials  */

  #testimonail-heading{
    margin-top: 45px;
    margin-left: 45px;
}

  .testimonails{
   
    padding: 7px 40px;
    margin: 15px 5px;
    display: flex;
    align-items: center;
    
  }
  .review-container{
    
    padding: 30px 40px;
    margin: 15px 5px;
    display: flex;
    gap: 31px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    justify-content: space-between;
    overflow-x: scroll;
  }
  .review-container::-webkit-scrollbar{
    display: none;
  }
  .reviews{
    padding: 10px 10px;
  
  }
  .review-para{
    width: 250px;
  }
  .by{
    
    
   
    padding: 30px 0;
  }

  /* Frequently asked questions  */
  .question-container{
    background-color: #304258;
    padding: 100px 0px;
    
  }
  .question-container h1{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    color: white;
    font-size: 50px;
  }
  .question-item{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  #question-para{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  #answer-para{
    color: #ACB1B4;
    font-size: 19px;
    word-spacing: 2px;
   
  }
  
 

  

footer{
   
    padding: 20px 50px;
    background-color: black;
    color: white;
    overflow: auto;
}
  .footer-details{
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .about-us-container{
    width: 300px;
    
  }
  .about-us-container p{
    font-size: 16px;
    word-spacing: 3px;
    line-height: 25px;
  }
  .about-us-container h2{
    margin-bottom: 10px;
    text-align: center;
  }
  .connect-container h2{
    text-align: center;
    margin-bottom: 15px;
  }
  
  .connect-container input{
    padding: 8px 12px;
    width: 350px;
    border-radius: 7px;
    outline-color: greenyellow;
  }
  
  #form-submit{
    padding: 8px 19px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 10px;
    width: 79px;
    margin: auto;

  }
  #form-container{
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
  }
  .form-child{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
  }
  #requirements{
    height: 100px;
  }
  #requirements ::placeholder{
    display: none;
  }
  
 
  .form-submit-para{
    color: greenyellow;
    margin-top: 35px;
    margin-left: 50px;
  }
  .socials{
    color: white;
    
  }
  .socials a{
    text-decoration: none;
    color: white;
  }
  .social-child{
    display: flex;
    gap: 35px;
    margin-left: 35px;
    text-align: center;
  }
  .socials h2{
    margin-bottom: 20px;
    text-align: center;
  }
  .socials div p{
    margin-top: 21px
  }
  .contact-footer{
    background-color: greenyellow;
    width: 50px;
    margin: 5px 0px;
    border-radius: 10px;
  }
  .copyright p{
    /* color: white; */
    text-align: center;
    margin-top: 30px;
  }


  /* Making site responsive  */

  @media screen and (max-width : 1600px) {
    .short-intro-container{
      flex-direction: column;
      margin: 15px 20px;
      gap: 10px;
    }
    .intro-image-container img{
      width: 100%;
   } 
  }
  @media screen and (max-width : 1085px) {
    .save-container{
      flex-direction: column;
      
     }
    .footer-details{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 50px;
      align-items: center;

    }
    #form-container input{
      width: 200px;
      float: none;
    }
  }
  @media screen and (max-width : 740px) {
    .contact-container{
      display: block;
      margin: 0;
      padding: 0;
   
    }
  .right-contact{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 13px 24px;
}
.left-contact{
    display: flex;
    gap: 0px;
    justify-content: space-between;
    margin: 0;
    padding: 10px 5px;
    
}
.right-contact img{
    width: 22px;
} 




@media only screen and (max-width : 516px) {
  .menu-container{
    display: none;
    
  }
  .mobile-menu{
    display: block;
    position: sticky;
    top: 0;
    background-color: white;
  }
}
  }
  @media screen and (max-width : 391px ) {
    .save-container h1{
      font-size: 45px;
      
     }
    .main-img img{
      height: 50vh;
    }
    .short-intro-container{
      flex-direction: column;
      margin: 15px 20px;
      gap: 10px;
    }
    .intro-image-container img{
      width: 100%;
   } 
   .footer-details{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  #form-container input{
    width: 200px;
    float: none;
  }
  }
  @media screen and (max-width : 340px ) {
   .left-contact{
    display: block;
   }

   .form-child{
    display: flex;
    flex-flow: column wrap;
  }
  }